<div id="{{ options.timelineID }}"></div>
     
     <script type="text/javascript">
         
        
        function drawVisualization() {
            
            dataTimeline = [

            {% for item in items %}
                {
                    'start': new Date("{{ item.getDateStart }}"),
                    'end': new Date("{{ item.getDateEnd }}"),
                    'title': "{{ item.getContent | trans }}",
                   {# 'group' : "{{ item.getGroup | trans }}",#}
                   'className' : "{{ item.getClassName }}"
                   }{% if not loop.last %},{% endif %}

            {% endfor %}

            ];
            
            $('#{{ options.timelineID }}').fullCalendar({
                events: dataTimeline,
                 contentHeight: 300
            })

        }
        
    </script>